*{margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #000000;}

header {
    background-color:#000000;
    min-height: 60vh;
    display: flex;
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: #c2c2c2;
    justify-content: center;
    align-items: center;
    background-image: url("images/Wallpaper-Black-Mirror-Bandersnatch.webp");
    background-size: 720px 340px;
    background-position-x: center;
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0); 
    flex-basis: calc(50% - half width gap);
    gap: 10px;
    padding: 20px;
    margin: auto;
    max-width: 700px;
    flex-flow: column;
}

.flex-container section {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    flex-basis: calc(50% - 5px);
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    line-height: 75px;
    font-size: 20px;
    height: fit-content;
}

.flex-container section:nth-child(1) {
    background-color: black;
    border-style:ridge;
    border-color: lightblue;
    color: lightblue;
    justify-content: center;
}

.flex-container section:nth-child(2) {
    background-color: rgb(0, 0, 0);
    border-style:ridge;
    border-color: lightblue;
    color: lightblue;
    text-overflow: wrap;
    justify-content: center;
}

.flex-container section:nth-child(3) {
    background-color: rgb(0, 0, 0);
    border-style:ridge;
    border-color: lightblue;
    color: lightblue;
    text-overflow: wrap;
    justify-content: center;
}

.flex-container section:nth-child(4) {
   background-color: black;
   border-style:ridge;
   border-color: lightblue;
   color: lightblue;
   font-size: 15px;
   text-align: center;
   justify-content: center;
}

@media screen and (max-width: 600px) {
     .flex section{
    flex-basis: 100%;}
}

.p1 {
 align-self: center;
 text-align: center;
 font-size: 17px;
}

h3 {
    text-align: center;
    justify-content:center;
}